@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/dragula/dist/dragula.min.css";


/*dragula class*/
.gu-mirror {
  cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -webkit-transform: rotate(5deg);
transform: rotate(5deg);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #C4CAD4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}